html {
  scroll-behavior: smooth;
 }
body ,html{
  height: 100%;
  text-align: center;
}
.yatra{
  font-family: 'Yatra One', cursive;
}
.ham{
  font-family: 'Hammersmith One', cursive;
}
.audio{
  font-family: 'Audiowide', cursive;
}
.arna{
  font-family: 'Archivo Narrow',cursive;
}
.bst{
      font-family: 'Bad Script';
}
.b612{
  font-family: 'B612 Mono';
}
#root{
  background: url("back5.jpg");
  background-repeat:no-repeat; 
  background-size:cover;
  height: 100%;
  background-position: center;
}
*{
  transition-duration: 1s;
}
@media only screen and (min-width: 801px) {
  #dropcontainer
  {
    display: none;
  }
  .s1{
    font-size: 80px;
  }
  .s2{
    font-size: 60px;
  }
  .s3{
    font-size: 30px;
  }
  .s4{
    font-size: 20px;
  }
}
@media only screen and (max-width: 800px) {
  .s1{
    font-size: 20px;
  }
  .s2{
    font-size: 20px;
  }
  .s3{
    font-size: 13px;
  }
  .s4{
    font-size: 11px;
  }
  .s5
  {
    font-size: 8px;
  }
}
.flex-container
{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.flex-container1
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-container2
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.googlehover{
  border:4px solid white;
  border-radius: 8px;
}
.googlehover:hover
{
  border-color: rgb(219,68,55) rgb(9, 66, 158) rgb(244,160,0) rgb(15,157,88);
}
.googlehoverp
{
  border-radius:32px; 
  border-width: 8px;
  border-style:solid;
  border-color: rgb(219,68,55) rgb(9, 66, 158) rgb(244,160,0) rgb(15,157,88); 
}
.or0:hover
{
  font-size: 20px;
}
.or0
{
  transition-property: font-size;
}
#dropcontainer
{
  border-bottom: 0.5px solid transparent;
}
.menubutton
{
  color: white;
    font-size: 2em;
}
.atext
{
  color: black;
}