.back{
    background-color: white; 
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#cont
{
    display:inline-block; 
    position: relative;
    background-color: white;
    width: 100px;
    height: 100px;
}
.circle
{
    position: absolute;
    top: 25px;
    left: 25px;
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 50%;
    animation-name:lra;
    animation-duration: 2s;
    animation-iteration-count: infinite; 
}
  @keyframes lra
  {
    0%{
        transform: translate(0px,0px); 
    }
    25%{
        transform: translate(25px,0px); 
    }
    50%{
        transform: translate(25px,25px); 
    }
    75%{
        transform: translate(0px,25px); 
    }
    100%{
        transform: translate(0px,0px); 
    }
  }
